# How to create a Julia dataframe in the terminal

In [1]:
using DataFrames
inventory = DataFrame(
	item = [
		"Mars Rover",
		"Venus Explorer",
		"%Lunar Rover",
		"30% Sun Filter"
	],
	id = [
		100,
		101,
		102,
		103
	],
	kind = [
		"rover",
		"spaceship",
		"rover",
		"Sun Filter"
	]
)

4×3 DataFrame
 Row │ item            id     kind
     │ String          Int64  String
─────┼───────────────────────────────────
   1 │ Mars Rover        100  rover
   2 │ Venus Explorer    101  spaceship
   3 │ %Lunar Rover      102  rover
   4 │ 30% Sun Filter    103  Sun Filter

# How to “find and replace” in a Julia dataframe

In [3]:
for i in eachrow(inventory)
	i[:kind] = replace(i[:kind], "rover"=>"Rover")
	i[:kind] = replace(i[:kind], "spaceship"=>"Spaceship")
end
inventory

4×3 DataFrame
 Row │ item            id     kind
     │ String          Int64  String
─────┼───────────────────────────────────
   1 │ Mars Rover        100  Rover
   2 │ Venus Explorer    101  Spaceship
   3 │ %Lunar Rover      102  Rover
   4 │ 30% Sun Filter    103  Sun Filter

# How to “find and replace” with regex in a Julia dataframe

In [4]:
for i in eachrow(inventory)
	i[:item] = replace(i[:item], r"^%"=>"")
end
inventory

# r"^%"=>"". It starts with the letter r, to signify that we are using regex. Next, we have double quotes surrounding our regex: "^%". The caret, ^ is a regex character which means “match the beginning of the string”. The percentage sign, %, is a literal match for a percentage sign

4×3 DataFrame
 Row │ item            id     kind
     │ String          Int64  String
─────┼───────────────────────────────────
   1 │ Mars Rover        100  Rover
   2 │ Venus Explorer    101  Spaceship
   3 │ Lunar Rover       102  Rover
   4 │ 30% Sun Filter    103  Sun Filter

# How to filter a dataframe in Julia

In [6]:
inventory = DataFrame(
	item = [
		"Mars Rover",
		"Venus Explorer",
		"Lunar Rover",
		"30% Sun Filter"
	],
	id = [
		100,
		101,
		102,
		103
	],
	kind = [
		"Rover",
		"Spaceship",
		"Rover",
		"Sun Filter"
	]
)

rovers = filter(
	x -> any(occursin.(["Rover"], x.item)),
	inventory
)
rovers

2×3 DataFrame
 Row │ item         id     kind
     │ String       Int64  String
─────┼────────────────────────────
   1 │ Mars Rover     100  Rover
   2 │ Lunar Rover    102  Rover

# How to join two dataframes in Julia

In [7]:
sku = DataFrame(
	item = [
		"Mars Rover",
		"Venus Explorer",
		"Lunar Rover",
		"30% Sun Filter"
	],
	sku = [
		34566,
		78945,
		15179,
		77254
		]
)

4×2 DataFrame
 Row │ item            sku
     │ String          Int64
─────┼───────────────────────
   1 │ Mars Rover      34566
   2 │ Venus Explorer  78945
   3 │ Lunar Rover     15179
   4 │ 30% Sun Filter  77254

In [8]:
inventory_sku = outerjoin(inventory, sku, on = :item)

4×4 DataFrame
 Row │ item            id      kind        sku
     │ String          Int64?  String?     Int64?
─────┼────────────────────────────────────────────
   1 │ Mars Rover         100  Rover        34566
   2 │ Venus Explorer     101  Spaceship    78945
   3 │ Lunar Rover        102  Rover        15179
   4 │ 30% Sun Filter     103  Sun Filter   77254

# How to use pivot tables in Julia dataframes

In [10]:
using Dates
hubble_pings = DataFrame(
	date = [
		Date(2020,03,16),
		Date(2020,03,17),
		Date(2020,03,18),
		Date(2020,03,19),
		Date(2020,03,20),
		Date(2020,03,21),
		Date(2020,03,22),
		Date(2020,03,23),
		Date(2020,03,24),
		Date(2020,03,25),
		Date(2020,03,26),
		Date(2020,03,27),
		Date(2020,03,28),
		Date(2020,03,29)
	],
	iso_week = [
		12,
		12,
		12,
		12,
		12,
		12,
		12,
		13,
		13,
		13,
		13,
		13,
		13,
		13
	],
	pings = [
		774,
		565,
		801,
		739,
		671,
		702,
		598,
		740,
		598,
		761,
		758,
		733,
		803,
		806
	]
)

14×3 DataFrame
 Row │ date        iso_week  pings
     │ Date        Int64     Int64
─────┼─────────────────────────────
   1 │ 2020-03-16        12    774
   2 │ 2020-03-17        12    565
   3 │ 2020-03-18        12    801
   4 │ 2020-03-19        12    739
   5 │ 2020-03-20        12    671
   6 │ 2020-03-21        12    702
   7 │ 2020-03-22        12    598
   8 │ 2020-03-23        13    740
   9 │ 2020-03-24        13    598
  10 │ 2020-03-25        13    761
  11 │ 2020-03-26        13    758
  12 │ 2020-03-27        13    733
  13 │ 2020-03-28        13    803
  14 │ 2020-03-29        13    806

In [11]:
hubble_pings_weekly = combine(
	groupby(hubble_pings, :iso_week),
	:pings => sum
	)

2×2 DataFrame
 Row │ iso_week  pings_sum
     │ Int64     Int64
─────┼─────────────────────
   1 │       12       4850
   2 │       13       5199