# How to create a Julia dataframe in the terminal

In [15]:
using DataFrames
inventory = DataFrame(
	item = [
		"Mars Rover",
		"Venus Explorer",
		"%Lunar Rover",
		"30% Sun Filter"
	],
	id = [
		100,
		101,
		102,
		103
	],
	kind = [
		"rover",
		"spaceship",
		"rover",
		"Sun Filter"
	]
)

4×3 DataFrame
 Row │ item            id     kind
     │ String          Int64  String
─────┼───────────────────────────────────
   1 │ Mars Rover        100  rover
   2 │ Venus Explorer    101  spaceship
   3 │ %Lunar Rover      102  rover
   4 │ 30% Sun Filter    103  Sun Filter

# How to “find and replace” in a Julia dataframe

In [3]:
for i in eachrow(inventory)
	i[:kind] = replace(i[:kind], "rover"=>"Rover")
	i[:kind] = replace(i[:kind], "spaceship"=>"Spaceship")
end
inventory

4×3 DataFrame
 Row │ item            id     kind
     │ String          Int64  String
─────┼───────────────────────────────────
   1 │ Mars Rover        100  Rover
   2 │ Venus Explorer    101  Spaceship
   3 │ %Lunar Rover      102  Rover
   4 │ 30% Sun Filter    103  Sun Filter

# How to “find and replace” with regex in a Julia dataframe

In [4]:
for i in eachrow(inventory)
	i[:item] = replace(i[:item], r"^%"=>"")
end
inventory

# r"^%"=>"". It starts with the letter r, to signify that we are using regex. Next, we have double quotes surrounding our regex: "^%". The caret, ^ is a regex character which means “match the beginning of the string”. The percentage sign, %, is a literal match for a percentage sign

4×3 DataFrame
 Row │ item            id     kind
     │ String          Int64  String
─────┼───────────────────────────────────
   1 │ Mars Rover        100  Rover
   2 │ Venus Explorer    101  Spaceship
   3 │ Lunar Rover       102  Rover
   4 │ 30% Sun Filter    103  Sun Filter

# How to filter a dataframe in Julia

In [6]:
inventory = DataFrame(
	item = [
		"Mars Rover",
		"Venus Explorer",
		"Lunar Rover",
		"30% Sun Filter"
	],
	id = [
		100,
		101,
		102,
		103
	],
	kind = [
		"Rover",
		"Spaceship",
		"Rover",
		"Sun Filter"
	]
)

rovers = filter(
	x -> any(occursin.(["Rover"], x.item)),
	inventory
)
rovers

2×3 DataFrame
 Row │ item         id     kind
     │ String       Int64  String
─────┼────────────────────────────
   1 │ Mars Rover     100  Rover
   2 │ Lunar Rover    102  Rover

# How to join two dataframes in Julia

In [7]:
sku = DataFrame(
	item = [
		"Mars Rover",
		"Venus Explorer",
		"Lunar Rover",
		"30% Sun Filter"
	],
	sku = [
		34566,
		78945,
		15179,
		77254
		]
)

4×2 DataFrame
 Row │ item            sku
     │ String          Int64
─────┼───────────────────────
   1 │ Mars Rover      34566
   2 │ Venus Explorer  78945
   3 │ Lunar Rover     15179
   4 │ 30% Sun Filter  77254

In [8]:
inventory_sku = outerjoin(inventory, sku, on = :item)

4×4 DataFrame
 Row │ item            id      kind        sku
     │ String          Int64?  String?     Int64?
─────┼────────────────────────────────────────────
   1 │ Mars Rover         100  Rover        34566
   2 │ Venus Explorer     101  Spaceship    78945
   3 │ Lunar Rover        102  Rover        15179
   4 │ 30% Sun Filter     103  Sun Filter   77254

# How to use pivot tables in Julia dataframes

In [4]:
using Dates
hubble_pings = DataFrame(
	date = [
		Date(2020,03,16),
		Date(2020,03,17),
		Date(2020,03,18),
		Date(2020,03,19),
		Date(2020,03,20),
		Date(2020,03,21),
		Date(2020,03,22),
		Date(2020,03,23),
		Date(2020,03,24),
		Date(2020,03,25),
		Date(2020,03,26),
		Date(2020,03,27),
		Date(2020,03,28),
		Date(2020,03,29)
	],
	iso_week = [
		12,
		12,
		12,
		12,
		12,
		12,
		12,
		13,
		13,
		13,
		13,
		13,
		13,
		13
	],
	pings = [
		774,
		565,
		801,
		739,
		671,
		702,
		598,
		740,
		598,
		761,
		758,
		733,
		803,
		806
	]
)

14×3 DataFrame
 Row │ date        iso_week  pings
     │ Date        Int64     Int64
─────┼─────────────────────────────
   1 │ 2020-03-16        12    774
   2 │ 2020-03-17        12    565
   3 │ 2020-03-18        12    801
   4 │ 2020-03-19        12    739
   5 │ 2020-03-20        12    671
   6 │ 2020-03-21        12    702
   7 │ 2020-03-22        12    598
   8 │ 2020-03-23        13    740
   9 │ 2020-03-24        13    598
  10 │ 2020-03-25        13    761
  11 │ 2020-03-26        13    758
  12 │ 2020-03-27        13    733
  13 │ 2020-03-28        13    803
  14 │ 2020-03-29        13    806

In [5]:
hubble_pings_weekly = combine(
	groupby(hubble_pings, :iso_week),
	:pings => sum
	)

2×2 DataFrame
 Row │ iso_week  pings_sum
     │ Int64     Int64
─────┼─────────────────────
   1 │       12       4850
   2 │       13       5199

# How to rename columns in a Julia dataframe

In [6]:
rename!(hubble_pings_weekly, :pings_sum => :pings)

2×2 DataFrame
 Row │ iso_week  pings
     │ Int64     Int64
─────┼─────────────────
   1 │       12   4850
   2 │       13   5199

# How to add an array as a column to a dataframe in Julia

In [9]:
condition_array = ["Fair", "Excellent", "Fair", "Poor"]
inventory[!, :condition] = condition_array
inventory

4×4 DataFrame
 Row │ item            id     kind        condition
     │ String          Int64  String      String
─────┼──────────────────────────────────────────────
   1 │ Mars Rover        100  rover       Fair
   2 │ Venus Explorer    101  spaceship   Excellent
   3 │ %Lunar Rover      102  rover       Fair
   4 │ 30% Sun Filter    103  Sun Filter  Poor

# How to reorder the columns of a dataframe in Julia

In [10]:
select!(inventory, :id, :item, :kind, :condition)

4×4 DataFrame
 Row │ id     item            kind        condition
     │ Int64  String          String      String
─────┼──────────────────────────────────────────────
   1 │   100  Mars Rover      rover       Fair
   2 │   101  Venus Explorer  spaceship   Excellent
   3 │   102  %Lunar Rover    rover       Fair
   4 │   103  30% Sun Filter  Sun Filter  Poor

In [11]:
# Non-permanent column reordering
inventory_new = select(inventory, :id, :item, :kind, :condition)

4×4 DataFrame
 Row │ id     item            kind        condition
     │ Int64  String          String      String
─────┼──────────────────────────────────────────────
   1 │   100  Mars Rover      rover       Fair
   2 │   101  Venus Explorer  spaceship   Excellent
   3 │   102  %Lunar Rover    rover       Fair
   4 │   103  30% Sun Filter  Sun Filter  Poor

# How to delete a column from a dataframe in Julia

In [12]:
# To permanently delete the condition column, do this:
select!(inventory, :item, :id, :kind)

4×3 DataFrame
 Row │ item            id     kind
     │ String          Int64  String
─────┼───────────────────────────────────
   1 │ Mars Rover        100  rover
   2 │ Venus Explorer    101  spaceship
   3 │ %Lunar Rover      102  rover
   4 │ 30% Sun Filter    103  Sun Filter

In [13]:
# delete the kind column
# reorder the remaining two columns so that the id column comes first
select!(inventory, :id, :item)

4×2 DataFrame
 Row │ id     item
     │ Int64  String
─────┼───────────────────────
   1 │   100  Mars Rover
   2 │   101  Venus Explorer
   3 │   102  %Lunar Rover
   4 │   103  30% Sun Filter

In [16]:
# Non-destructive column deletion
# If we started again with the original four-column inventory dataframe (see code at the top of this section), we could create a new dataframe without the condition column like this:
inventory_new = select(inventory, :id, :item, :kind)

4×3 DataFrame
 Row │ id     item            kind
     │ Int64  String          String
─────┼───────────────────────────────────
   1 │   100  Mars Rover      rover
   2 │   101  Venus Explorer  spaceship
   3 │   102  %Lunar Rover    rover
   4 │   103  30% Sun Filter  Sun Filter

# How to write a CSV from a dataframe in Julia

In [17]:
using DataFrames, CSV
CSV.write("C:/Users/vuongns/Downloads/inventory.csv", inventory)

"C:/Users/vuongns/Downloads/inventory.csv"

# How to import a CSV as a dataframe in Julia

In [23]:
using CSV
# df = CSV.read("D:/Software/Portableapp/Git/GitRepos/Julia_code/myfile.csv", DataFrame)
df = CSV.read("myfile.csv", DataFrame)

5×4 DataFrame
 Row │ Name      Age    Salary  RESIDENCE
     │ String15  Int64  Int64   String7
─────┼────────────────────────────────────
   1 │ AKANKSHA     42  540000  DELHI
   2 │ TANYA        44  650000  DELHI
   3 │ PREETIKA     22  900000  UP
   4 │ VRINDA       81  770000  HARYANA
   5 │ JAHNVI       93  850000  UP

# How to convert an array into a dataframe in Julia

In [22]:
space_companies = ["SpaceX", "Blue Origin", "Boeing", "Sierra Nevada Corporation"]

using DataFrames

# Now, assuming we want our new dataframe to be called df, we input this:
df = DataFrame([space_companies], [:space_brands])

4×1 DataFrame
 Row │ space_brands
     │ String
─────┼───────────────────────────
   1 │ SpaceX
   2 │ Blue Origin
   3 │ Boeing
   4 │ Sierra Nevada Corporation