# first steps with dataframes

## Reading Data From CSV Files

In [4]:
using CSV, DataFrames
german_ref = CSV.read(joinpath(dirname(pathof(DataFrames)),
                                      "..", "docs", "src", "assets", "german.csv"),
                             DataFrame)

1000Ã—10 DataFrame
  Row â”‚ id     Age    Sex      Job    Housing  Saving accounts  Checking accou â‹¯
      â”‚ Int64  Int64  String7  Int64  String7  String15         String15       â‹¯
â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    1 â”‚     0     67  male         2  own      NA               little         â‹¯
    2 â”‚     1     22  female       2  own      little           moderate
    3 â”‚     2     49  male         1  own      little           NA
    4 â”‚     3     45  male         2  free     little           little
    5 â”‚     4     53  male         2  free     little           little         â‹¯
    6 â”‚     5     35  male         1  free     NA               NA
    7 â”‚     6     53  male         2  own      quite rich       NA
    8 â”‚     7     35  male         3  rent     little           moderate
  â‹®   â”‚   â‹®      â‹®       â‹®       â‹®       â‹®            â‹®                â‹®       â‹±
  994 â”‚   993     30  male         3  own      little           little         â‹¯
  995 â”‚   994     50  male         2  own      NA               NA
  996 â”‚   995     31  female       1  own      little           NA
  997 â”‚   996     40  male         3  own      little           little
  998 â”‚   997     38  male         2  own      little           NA             â‹¯
  999 â”‚   998     23  male         2  free     little           little
 1000 â”‚   999     27  male         2  own      moderate         moderate
                                                  4 columns and 985 rows omitted

In [8]:
german = copy(german_ref); # we copy the data frame

## Basic Operations on Data Frames

In [10]:
german.Sex

1000-element PooledArrays.PooledVector{String7, UInt32, Vector{UInt32}}:
 "male"
 "female"
 "male"
 "male"
 "male"
 "male"
 "male"
 "male"
 "male"
 "male"
 â‹®
 "male"
 "male"
 "male"
 "male"
 "female"
 "male"
 "male"
 "male"
 "male"

In [11]:
colname = "Sex"
german[!, colname]

1000-element PooledArrays.PooledVector{String7, UInt32, Vector{UInt32}}:
 "male"
 "female"
 "male"
 "male"
 "male"
 "male"
 "male"
 "male"
 "male"
 "male"
 â‹®
 "male"
 "male"
 "male"
 "male"
 "female"
 "male"
 "male"
 "male"
 "male"

In [13]:
german.Sex === german[!, :Sex]
# german.Sex === german[:, :Sex]

# The === function allows us to check if both expressions produce the same object and confirm the behavior described above:

true

In [15]:
# You can obtain a vector of column names of the data frame as Strings using the names function:
names(german)

10-element Vector{String}:
 "id"
 "Age"
 "Sex"
 "Job"
 "Housing"
 "Saving accounts"
 "Checking account"
 "Credit amount"
 "Duration"
 "Purpose"

In [16]:
# Sometimes you are interested in names of columns that meet a particular condition.
# For example you can get column names with a given element type by passing this type as a second argument to the names function:
names(german, AbstractString)

5-element Vector{String}:
 "Sex"
 "Housing"
 "Saving accounts"
 "Checking account"
 "Purpose"

In [17]:
# You can explore more options of filtering column names in the documentation of the names function.
# If instead you wanted to get column names of a data frame as Symbols use the propertynames function:
propertynames(german)

# As you can see the column names containing spaces are not very convenient to work with as Symbols because they require more typing and introduce some visual noise.

10-element Vector{Symbol}:
 :id
 :Age
 :Sex
 :Job
 :Housing
 Symbol("Saving accounts")
 Symbol("Checking account")
 Symbol("Credit amount")
 :Duration
 :Purpose

In [18]:
# If you were interested in element types of the columns instead. You can use the eachcol(german) function to get an iterator over the columns of the data frame. Then you can broadcast the eltype function over it to get the desired result:
eltype.(eachcol(german))

10-element Vector{DataType}:
 Int64
 Int64
 String7
 Int64
 String7
 String15
 String15
 Int64
 Int64
 String31

In [ ]:
# Let us start with the example of using the empty and empty! functions:
empty(german)
german

In [ ]:
empty!(german)
german

# In the above example empty function created a new DataFrame with the same column names and column element types as german but with zero rows. On the other hand empty! function removed all rows from german in-place and made each of its columns empty.

## Getting Basic Information about a Data Frame

In [24]:
german = copy(german_ref);
size(german)
# size(german, 1)
# size(german, 2)

(1000, 10)

In [26]:
# nrow(german)
ncol(german)

10

In [28]:
# To get basic statistics of data in your data frame use the describe function (check out the help of describe for information on how to customize the shown statistics).
describe(german)

10Ã—7 DataFrame
 Row â”‚ variable          mean     min       median  max              nmissing  â‹¯
     â”‚ Symbol            Unionâ€¦   Any       Unionâ€¦  Any              Int64     â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ id                499.5    0         499.5   999                     0  â‹¯
   2 â”‚ Age               35.546   19        33.0    75                      0
   3 â”‚ Sex                        female            male                    0
   4 â”‚ Job               1.904    0         2.0     3                       0
   5 â”‚ Housing                    free              rent                    0  â‹¯
   6 â”‚ Saving accounts            NA                rich                    0
   7 â”‚ Checking account           NA                rich                    0
   8 â”‚ Credit amount     3271.26  250       2319.5  18424                   0
   9 â”‚ Duration          20.903   4         18.0    72                      0  â‹¯
  10 â”‚ Purpose                    business          vacation/others         0
                                                                1 column omitted

In [29]:
# To limit the columns processed by describe use cols keyword argument, e.g.:
describe(german, cols=1:3)

# The default statistics reported are mean, min, median, max, number of missing values, and element type of the column. missing values are skipped when computing the summary statistics.

3Ã—7 DataFrame
 Row â”‚ variable  mean    min     median  max   nmissing  eltype
     â”‚ Symbol    Unionâ€¦  Any     Unionâ€¦  Any   Int64     DataType
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ id        499.5   0       499.5   999          0  Int64
   2 â”‚ Age       35.546  19      33.0    75           0  Int64
   3 â”‚ Sex               female          male         0  String7

In [30]:
# You can adjust how data frame is displayed by calling the show function manually: show(german, allrows=true) prints all rows even if they do not fit on screen and show(german, allcols=true) does the same for columns, e.g.:
show(german, allcols=true)

1000Ã—10 DataFrame
  Row â”‚ id     Age    Sex      Job    Housing  Saving accounts  Checking account  Credit amount  Duration  Purpose
      â”‚ Int64  Int64  String7  Int64  String7  String15         String15          Int64          Int64     String31
â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    1 â”‚     0     67  male         2  own      NA               little                     1169         6  radio/TV
    2 â”‚     1     22  female       2  own      little           moderate                   5951        48  radio/TV
    3 â”‚     2     49  male         1  own      little           NA                         2096        12  education
    4 â”‚     3     45  male         2  free     little           little                     7882        42  furniture/equipment
    5 â”‚     4     53  male         2  free     little           little                     4870        24  car
    6 â”‚     5     35  male         1  free     NA               NA                         9055        36  education
    7 â”‚     6     53  male         2  own      quite rich       NA                         2835        24  furniture/equipment
    8 â”‚     7     35  male         3  rent     little           moderate                   6948        36  car
  â‹®   â”‚   â‹®      â‹®       â‹®       â‹®       â‹®            â‹®                â‹®                â‹®           â‹®               â‹®
  994 â”‚   993     30  male         3  own      little           little                     3959        36  furniture/equipment
  995 â”‚   994     50  male         2  own      NA               NA                         2390        12  car
  996 â”‚   995     31  female       1  own      little           NA                         1736        12  furniture/equipment
  997 â”‚   996     40  male         3  own      little           little                     3857        30  car
  998 â”‚   997     38  male         2  own      little           NA                          804        12  radio/TV
  999 â”‚   998     23  male         2  free     little           little                     1845        45  radio/TV
 1000 â”‚   999     27  male         2  own      moderate         moderate                   4576        45  car
                                                                                                               985 rows omitted

In [31]:
# It is easy to compute descriptive statistics directly on individual columns using the functions defined in the Statistics module:
using Statistics
mean(german.Age)

35.546

In [32]:
# If instead we want to apply some function to all columns of a data frame we can use the mapcols function. It returns a DataFrame where each column of the source data frame is transformed using a function passed as a first argument. Note that mapcols guarantees not to reuse the columns from german in the returned DataFrame. If the transformation returns its argument then it gets copied before being stored.
mapcols(id -> id .^ 2, german)

1000Ã—10 DataFrame
  Row â”‚ id      Age    Sex           Job    Housing   Saving accounts       Ch â‹¯
      â”‚ Int64   Int64  String        Int64  String    String                St â‹¯
â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    1 â”‚      0   4489  malemale          4  ownown    NANA                  li â‹¯
    2 â”‚      1    484  femalefemale      4  ownown    littlelittle          mo
    3 â”‚      4   2401  malemale          1  ownown    littlelittle          NA
    4 â”‚      9   2025  malemale          4  freefree  littlelittle          li
    5 â”‚     16   2809  malemale          4  freefree  littlelittle          li â‹¯
    6 â”‚     25   1225  malemale          1  freefree  NANA                  NA
    7 â”‚     36   2809  malemale          4  ownown    quite richquite rich  NA
    8 â”‚     49   1225  malemale          9  rentrent  littlelittle          mo
  â‹®   â”‚   â‹®       â‹®         â‹®          â‹®       â‹®               â‹®               â‹±
  994 â”‚ 986049    900  malemale          9  ownown    littlelittle          li â‹¯
  995 â”‚ 988036   2500  malemale          4  ownown    NANA                  NA
  996 â”‚ 990025    961  femalefemale      1  ownown    littlelittle          NA
  997 â”‚ 992016   1600  malemale          9  ownown    littlelittle          li
  998 â”‚ 994009   1444  malemale          4  ownown    littlelittle          NA â‹¯
  999 â”‚ 996004    529  malemale          4  freefree  littlelittle          li
 1000 â”‚ 998001    729  malemale          4  ownown    moderatemoderate      mo
                                                  4 columns and 985 rows omitted

In [33]:
# If you want to look at first and last rows of a data frame then you can do this using the first and last functions respectively:
first(german, 6)
# last(german, 5)

6Ã—10 DataFrame
 Row â”‚ id     Age    Sex      Job    Housing  Saving accounts  Checking accoun â‹¯
     â”‚ Int64  Int64  String7  Int64  String7  String15         String15        â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     0     67  male         2  own      NA               little          â‹¯
   2 â”‚     1     22  female       2  own      little           moderate
   3 â”‚     2     49  male         1  own      little           NA
   4 â”‚     3     45  male         2  free     little           little
   5 â”‚     4     53  male         2  free     little           little          â‹¯
   6 â”‚     5     35  male         1  free     NA               NA
                                                               4 columns omitted

## Getting and Setting Data in a Data Frame

### Indexing Syntax

In [34]:
# The general syntax for indexing is data_frame[selected_rows, selected_columns]. Observe that, as opposed to matrices in Julia Base, it is required to always pass both row and column selector. The colon : indicates that all items (rows or columns depending on its position) should be retained. Here are a few examples:
german[1:5, [:Sex, :Age]]
german[1:5, :]

5Ã—2 DataFrame
 Row â”‚ Sex      Age
     â”‚ String7  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ male        67
   2 â”‚ female      22
   3 â”‚ male        49
   4 â”‚ male        45
   5 â”‚ male        53

# testing

In [1]:
function fizzbuzz(n)
    for i in 1:n
        if rem(i,15) ==0
            println("fizzbuzz")
        elseif rem(i,3) ==0
            println("fizz")
        elseif rem(i,5) ==0
            println("buzz")
        else
            println(i)
        end
    end    
end

fizzbuzz (generic function with 1 method)

In [2]:
fizzbuzz(20)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz

In [7]:
macro sayhello(name)
    return :( println("Hello, ", $name) )
end
@sayhello("human")

Hello, human

In [6]:
df = DataFrame(a = [1, 2], b = [3, 4]);

# With DataFrames
transform(df, [:a, :b] => ((a, b) -> a .* b .+ first(a) .- sum(b)) => :c);

# With DataFramesMeta
@transform(df, :c = :a .* :b .+ first(:a) .- sum(:b))

LoadError: LoadError: UndefVarError: @transform not defined
in expression starting at d:\Software\Portableapp\Git\GitRepos\Julia_code\the simple of beginning.ipynb:7

In [21]:
using DataFrames
df = DataFrame(A = 1:5, B = 6:10, C= 11:15)

5Ã—3 DataFrame
 Row â”‚ A      B      C
     â”‚ Int64  Int64  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1      6     11
   2 â”‚     2      7     12
   3 â”‚     3      8     13
   4 â”‚     4      9     14
   5 â”‚     5     10     15

In [22]:
transform!(df, [:A, :B] => ByRow((a, b) -> a < 3 ? b * 2 : a))

5Ã—4 DataFrame
 Row â”‚ A      B      C      A_B_function
     â”‚ Int64  Int64  Int64  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1      6     11            12
   2 â”‚     2      7     12            14
   3 â”‚     3      8     13             3
   4 â”‚     4      9     14             4
   5 â”‚     5     10     15             5